@font-face {
    font-family: MicraDiRegular;
    src: url(../fonts/micradi_regular.ttf);
}

html {
    min-height: 100%;
}

body {
    background-image: url(../images/bg.gif);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: auto;
}

.wrapper {
    width: 80%;
    min-width: 1200px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
}

.header {
    border-radius: 15px;
    background: url(../images/bg-topr.jpg) no-repeat right, url(../images/bg_header.gif) repeat-x 0;
    margin: 20px auto 30px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.75);
}

.logo {
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo-content {
    margin: 10px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-content h1 {
    color: white;
    letter-spacing: 1px;
    font-family: MicraDiRegular;
    font-weight: normal;
}

.logo-input {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.logo-input>input::-webkit-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.logo-input>input::-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:-moz-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:-ms-input-placeholder {
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:focus::-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:focus:-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.logo-input>input:focus:-ms-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

.logo-input>input {
    width: 120px;
}

.logo-input>img {
    margin-left: 5px;
    width: 25px;
}

.manage-container {
    flex-grow: 2;
    display: flex;
    margin-top: 15px;
}

.manage-container>a {
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.autoparts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.75);
    align-items: stretch;
    margin-bottom: 30px;
    padding: 0 0 20px 25px;
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    white-space: nowrap;
    background: url(../images/bg-panel-header.gif) no-repeat left center;
    padding: 10px 0px 10px 25px;
}

.content-title>h3 {
    color: #D2792B;
    letter-spacing: 1px;
    font-family: MicraDiRegular;
    font-weight: normal;
    font-size: 20px;
}

.autoparts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 25px;
}

.merchandise {
    display: flex;
    align-items: flex-start;
    width: 33%;
    flex-basis: calc(33.33% - 30px * 2/3);
}

.merchandise-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.merchandise-img {
    padding: 3px;
    border: 1px solid #AAA;
    margin-right: 20px;
}

.merchandise-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.merchandise-title {
    color: #44464A;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.merchandise-description-text {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.details {
    border-radius: 15px;
    background-color: #D2792B;
    color: white;
    padding: 2px 10px 5px 10px;
    font-weight: bold;
    line-height: 2;
    white-space: nowrap;
}

.details:after {
    content: " »";
    font-weight: bold;
}

.cart {
    text-align: right;
    color: #D2792B;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/cart.jpg) no-repeat left center;
    padding: 15px 0 0 30px;
    height: 30px;
}

.changed-price {
    display: flex;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
    margin-right: 20px;
}

.new-price {
    color: #D2792B;
    font-size: 1.3em;
    font-weight: bold;
}

.changed-price>span:after {
    content: " руб";
    color: black;
    font-weight: bold;
}

.sections {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-menu {
    border-radius: 15px;
    background-image: url(../images/bgmenu.jpg);
    width: 300px;
    margin-bottom: 30px;
    font-size: 16px;
}

.main-menu>ul {
    list-style-image: url(../images/bgm-active.gif);
}

.main-menu>ul>li {
    color: white;
    font-weight: normal;
    text-decoration: underline;
    font-family: MicraDiRegular;
    padding: 7px 5px 7px 15px;
}

.main-menu>ul>li:first-child {
    color: black;
}

.first-column,
.second-column,
.third-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.first-column,
.second-column {
    margin-right: 30px;
}

.product-types {
    width: 275px;
    background-color: white;
    border-radius: 15px;
    margin: 0 0 30px 0;
    padding: 0 0 20px 25px;
}

.product-types-content,
.product-types {
    color: #D2792B;
    text-decoration: underline;
    font-weight: normal;
    font-size: 14px;
}

.product-types>.content-title>h3 {
    text-decoration: none;
}

.product-types-content>ul {
    margin: 5px 0 20px 0;
    padding-left: 20px;
}

.product-types-content>h5 {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: normal;
}

product-types-content {
    text-transform: uppercase;
}

.catalog {
    color: #D2792B;
    margin: 20px 0 15px 0;
    font-weight: bold;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    width: calc(100% - 40px);
    background-color: white;
    padding: 0 20px 15px 20px;
    margin-bottom: 30px;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.info-text {
    margin-left: 20px;
}

.info-content>.info-text>p {
    margin-top: 0;
    margin-bottom: 10px;
}

.discount {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 0 20px 15px 20px;
}

.discount-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-img {
    padding: 3px;
    border: 1px solid #AAA;
    margin-right: 20px;
}

.discount-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.discount-title {
    color: #44464A;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.discount-text {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

.discount-description>.details {
    white-space: normal;
}

.discount-date {
    font-weight: bold;
    font-size: 60%;
    color: #44464A;
}

.third-column>.container {
    width: 260px;
}

.cart-contents>p {
    margin: 0;
}

.wrap-title {
    white-space: normal;
}

.reviewer-name {
    text-align: right;
}

.contacts>h3 {
    color: #44464A;
}

@media screen and (max-width: 1400px) {
    .mobile-font {
        font-size: 30px;
    }
    .wrapper {
        width: 95%;
        min-width: 500px;
    }
    .header {
        background: url(../images/bg_header.gif) repeat-x 0;
        background-size: 100% 100%;
    }
    .logo-content>h1 {
        font-size: 40px;
    }
    .logo-input>input {
        width: 300px;
        height: 35px;
        font-size: 25px;
    }
    .logo-input>img {
        width: 40px;
    }
    .logo-input>input::-webkit-input-placeholder {
        font-size: 25px;
    }
    .logo-input>input::-moz-placeholder {
        font-size: 25px;
    }
    .logo-input>input:-moz-placeholder {
        font-size: 25px;
    }
    .logo-input>input:-ms-input-placeholder {
        font-size: 25px;
    }
    .content-title>h3 {
        font-size: 35px;
    }
    .sections {
        flex-wrap: wrap;
    }
    .first-column {
        order: 1;
        width: 100%;
        margin-right: 0;
    }
    .second-column {
        margin-right: 0;
        width: 100%;
    }
    .third-column {
        order: 3;
        width: 100%;
    }
    .reviews {
        width: 100%;
    }
    .main-menu {
        width: 100%;
        background-size: 100% 100%;
    }
    .product-types {
        width: calc(100% - 25px);
    }
    .product-types-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-right: 30px;
    }
    .third-column>.container {
        width: calc(100% - 40px);
    }
    .manage-container {
        align-self: flex-start;
    }
    .merchandise {
        flex-direction: column;
        flex-basis: 100%;
    }
    .merchandise-img {
        width: 200%;
    }
    .merchandise-description {
        flex: 1 1 auto;
    }
    .autoparts-content {
        margin-left: 0;
    }
    .merchandise {
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .discount-img {
        display: none;
    }
    .details {
        border-radius: 30px;
        padding: 7px 10px 7px 10px;
    }
}

@media screen and (max-width: 655px) {
    .header {
        flex-wrap: wrap;
        padding-bottom: 15px;
        justify-content: center;
    }
    .logo {
        order: 2;
    }
    .manage-container {
        order: 1;
    }
}

@media screen and (max-width: 1800px) {
    .info-content {
        flex-wrap: wrap;
    }
    .info-img {
        max-width: inherit;
        margin-bottom: 15px;
        width: 100%;
    }
    .info-text {
        margin-left: 0;
    }
}

.footer {
    width: 75%;
    min-width: 500px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    color: #F5AE3E;
}

.footer>a,
.footer>strong {
    margin-right: 10px;
    color: #F5AE3E;
    white-space: nowrap;
}